<p id="notice"><%= notice %></p>

<p>
  <%= @pet.name %> the <%= @pet.species %>
</p>

<p>
  <strong>Age:</strong>
  <%= Time.now.year - @pet.year_of_birth %>
</p>
<p>
  <strong>Good with kids:</strong>
  <%=  @pet.good_with_kids? ? "Good with children" : "Prefers a home without children" %>
</p>
<p>
  <strong>Image:</strong>
  <%= image_tag("#{@pet.image_url}", :alt => "dog pick") %>
</p>

<%= link_to 'Edit', edit_pet_path(@pet) %> |
<%= link_to 'Back', pets_path %>
